<footer class="footer-widget-area">
	<div class="container-fluid custom-container">
		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<div class="footer-widget">
					<h3>اطلاعات تماس</h3>
					<div class="footer-contact">
						<ul>
							<li><i class="fa fa-location-arrow"></i>تهران، خیابان شریعتی، سه راه طالقانی، جنب مبل پایتخت، پلاک 306، طبقه 2، واحد 4 ، موسسه قانون گستر</li>
							<li> <i class="fa fa-phone"></i>021-77515152</li>
							<li><i class="fa fa-fax"></i>021-89784350</li>
							<li><i class="fa fa-envelope"></i>info [at] ghanongostar.com</li>
							<li> <i class="fa fa-mobile"></i>پشتیبانی واتس اپ و تلگرام: 09025455416</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<div class="footer-widget">
					<h3>محصولات پر فروش</h3>
					<div class="footer-menu">
						<ul>
							<li><a href="/employer-package">باشگاه روابط کار قانون گستر</a></li>
							<li><a href="/forms/g-52">فرم تسویه حساب کارگران</a></li>
							<li><a href="/forms/g-44">قرارداد کار پرسنل آموزشی ( کارآموز)</a></li>
							<li><a href="/forms/g-46">قرارداد پرسنل پاره وقت</a></li>
							<li><a href="/forms/g-42">پکیج کامل قراردادهای سال 99</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-6 col-xl-6">
				<div class="footer-widget">
					<div class="logo">
						<a href="#">
							<img src="/images/logo.png" alt="">
						</a>
					</div>
					<p>مجموعه قانون گستر ارائه دهنده خدمات مشاوره ای در زمینه قوانین کار و تامین اجتماعی و مشاوره در زمینه مدیریت می باشد.</p>
					<div class="social">
						<ul>
							<li><a href="http://instagram.com/hajizadeh_vahid" target="_blank" rel="noopener nofollow"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="row">
				<div class="col-12">
					<p>تمام حقوق این وب سایت متعلق به موسسه قانون گستر می باشد. طراحی وب سایت و سئو <a href="https://zavoshsoftware.com/page/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D9%88%D8%A8-%D8%B3%D8%A7%DB%8C%D8%AA">زاوش</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>