@model ViewModels.EmployerPackageViewModel
@{
		ViewBag.Title = "باشگاه روابط کار | قانون گستر";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
@section headSection
{
	<style>
		.img-header {
			width: 100%;
		}

		.employer-container ul {
			direction: rtl;
			text-align: right;
		}

		.card-feature {
			border: 1px solid #ec0000;
			padding: 5px;
			text-align: center;
			margin-bottom: 15px;
		}

			.card-feature .card-feature-img {
			}

			.card-feature .card-feature-info {
				margin-top: 10px;
			}

		.heading-title {
			margin: 25px 0;
		}

		.card-package {
			text-align: center;
			border: 1px solid #ddd;
		}
		.card-package .package-color {
			height: 10px;
		}
			.card-package .paclage-title {
				padding: 20px 0;
			}
			.card-package .package-price {
				margin-bottom: 20px;
				direction: rtl;
			}
		.card-package .red {
			background-color: red;
		}
			.card-package .green {
				background-color: green;
			}
			.card-package .blue {
				background-color: blue;
			}

		.btn-bottom-20 {
			margin-bottom: 20px;
		}

		.paclage-title li {
			text-align: center;
		}
	</style>
}
<section class="breadcrumb-area">
	<div class="container-fluid custom-container">
		<div class="row">
			<div class="col-xl-12">
				<div class="bc-inner">
					<p>
						<a href="/">قانون گستر  |</a>
						باشگاه روابط کار
					</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="cart-area">
	<div class="container-fluid custom-container employer-container">
		<div class="container">
			<div class="row justify-content-center pt--75 pb--80 pt-md--55 pb-md--60 pt-sm--35 pb-sm--40">
				<div class="col-lg-10">

					<p class="heading-color mb--30 text-center">
						<img src="~/images/header-package.jpg" class="img-header" />
					</p>
					<h2 class="text-center heading-title">
						پکیج های قانون گستر
					</h2>
					<p class="heading-color mb--30 text-center">

						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود

					</p>
					<p class="heading-color mb--30 text-center">
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
						در این جا در متنی از دغدغه های کارفرمایان ذکر شود
					</p>
	 

			 

					<h2 class="text-center heading-title">
						پکیج های قانون گستر
					</h2>

					<div class="row">
						<div class="col-lg-4">
							<div class="card-package">
								<div class="package-color red"></div>
								<div class="paclage-title">
									<h3>پکیج 1</h3>
									<ul>
										<li>محتویات پکیج</li>
										<li>محتویات پکیج</li>
										<li>محتویات پکیج</li>
										<li>محتویات پکیج</li>
									</ul>
								</div>
								<div class="package-price">
									<span>2،000،000 تومان</span>
								</div>
								<button type="button" class="btn-ghanon btn-bottom-20">خرید</button>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="card-package">
								<div class="package-color green"></div>
								<div class="paclage-title">
									<h3>شش ماهه</h3>
									<ul>
										<li>محتویات پکیج</li>
										<li>محتویات پکیج</li>
										<li>محتویات پکیج</li>
										<li>محتویات پکیج</li>
									</ul>
								</div>
								<div class="package-price">
									<span>1،200،000 تومان</span>
								</div>
								<button type="button" class="btn-ghanon btn-bottom-20">خرید</button>
							</div>
						</div>
 
						
						<div class="col-lg-4">
							<div class="card-package">
								<div class="package-color blue"></div>
								<div class="paclage-title">
									<h3>سه ماهه</h3>
									<ul>
										<li>محتویات پکیج</li>
										<li>محتویات پکیج</li>
										<li>محتویات پکیج</li>
										<li>محتویات پکیج</li>
									</ul>
								</div>
								<div class="package-price">
									<span>800،000 تومان</span>
								</div>
								<button type="button" class="btn-ghanon btn-bottom-20">خرید</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>